:root {
  --primary: hsl(207, 90%, 54%);
  --primary-foreground: hsl(211, 100%, 99%);
  --secondary: hsl(60, 4.8%, 95.9%);
  --secondary-foreground: hsl(24, 9.8%, 10%);
  --third: hsl(50, 80%, 60%);
  --forth: hsl(35, 90%, 60%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
